.screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

app-password-game {
  width: inherit;
  height: inherit;
}

.screen-header {
  width: max-content;
  position: relative;
  top: -1rem;
}

.container {
  flex-direction: column;
}
header {
  position: relative;
  text-align: center;
  padding: 50px 0;
  //overflow: hidden;
}


header h1 {
  font-size: 4em;
  color: #007e94;
  text-shadow: 0 0 5px #0055ff, 0 0 10px #00d9ff, 0 0 20px #2eff00;
  animation: rotateText 1200s linear infinite;
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
