form {
  margin-bottom: 1em;
}

.password-field {
  width: 65%;
}

::ng-deep .mat-mdc-form-field-infix {
  direction: ltr;
}

::ng-deep .mdc-button__label {
  color: #FFFFFF;
}

button {
  background-color: var(--backround-blue);
  color: #FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
  border: 0;
  padding: 1em;

  font-size: 24px;
  line-height: 100%;
  letter-spacing: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  box-shadow: -5px 5px 20px -10px black, 5px -5px 20px -20px black;

  width: 40%;
}

.password-text-input::-webkit-scrollbar {
  display: none;
}

.password-text-input {
  resize: none;
  overflow: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.password-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

::ng-deep .swal-modal {
  background-color: black;
  border-radius: 20%;
}

::ng-deep .burning-title {
  color: darkred;
  font-size: 45px;
}

::ng-deep .burning-confirm-button {
  background-color: orangered;
}
