.input-label{
    font-size: 18px;
    letter-spacing: 0.3px;
    padding-left: 0.5em;
    color: #5F5F5F;
}

.input-field{
    max-width: 488px;
    width: -webkit-fill-available;
    height: 52px;
    border-radius: 8px;
    border: 1px solid #F0F1F7;
    padding: 0 1rem;
    box-sizing: border-box;

    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.3px;
    color: #4B506D;

    transition: box-shadow 0.5s;
}

::placeholder { 
    opacity: .5;
}

.input-field:focus-visible {
    outline: 0px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);

}