.answer {
    text-align: center;
    font-size: 3.5rem;
}

app-american-question {
    height: 100%;
}

.question {
    font-size: 600%;
    color: #BBE2EC;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.commander-question-screen{
    height: 100%;
    background-color: #40A2E3;
}