::ng-deep .mat-mdc-dialog-container .mdc-dialog__title {
    color: rgb(96, 38, 30) !important;
} 

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    text-align: center !important;
    background-color: rgb(171, 148, 145) !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
    direction: rtl !important;
    background-color: #f5f5f54d !important;
}

::ng-deep .mat-mdc-button:not(:disabled) {
    color: white !important;
    background-color: rgb(96, 38, 30);
    margin: 10px;
}