.dialog-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog{
    position: fixed;
    width: 50%;
    height: 50%;
    background-color: #cddfe2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: 1rem;
}

.submit-button{
    max-width: 488px;
    width: -webkit-fill-available;
    height: 52px;
    border-radius: 15px;
    box-sizing: border-box;
    border: 0;

    background-color: #007E94;
    color: #FFFFFF;
    font-size: 24px;
    letter-spacing: 4px;
}

.submit-button:hover{
    filter: brightness(85%);
}

.submit-button:active{
    filter: brightness(75%);
}

.password-input{
    max-width: 488px;
    width: -webkit-fill-available;
}