@use 'sass:map';
@use '@angular/material' as mat;

.login-screen{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-login-side, .container-logo-side{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.container-logo-side{
    display: flex;
    justify-content: center;
}

.site-logo{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}