.correctCard  {
    text-align: center !important;
    color: rgb(26, 48, 28);
    background-color: rgb(157, 193, 157) !important;
}

.correctHeader  {
    text-align: center !important;
    color: white;
    background-color: rgb(78, 107, 78) !important;
}

.wrongCard  {
    text-align: center !important;
    color: rgb(48, 26, 26);
    background-color: rgb(193, 157, 157) !important;
}

.wrongHeader  {
    text-align: center !important;
    color: white;
    background-color: rgb(134, 57, 57) !important;
}